.cart {
	cursor: pointer;
}



h1 {
	margin-right: 2rem;
	white-space: nowrap;
}
h1 {
	font-size: var(--fs-md);
	font-weight: var(--fw-normal);
}
h2 {
	margin-bottom: 1rem;
	font-size: 25px;
	text-align: center;
}

