.productCard {
	display: grid;
	grid-template-columns: repeat(auto-fill, minmax(220px, 1fr));
	grid-area: related;
	padding-left: 0.8rem;
	gap: 0.8rem;
	font-weight: var(--fw-light);
}
@media(max-width:810px) {
	.productCard{
	// display: grid;
	// grid-template-columns: repeat(auto-fill, minmax(220px, 220px));
	// grid-area: related;
	// padding-left: 0.8rem;
	// gap: 0.8rem;
	// font-weight: var(--fw-light);
	}
}