.registerWrapper {
	> :not(:last-child) {
		margin-bottom: 1.3rem;
	}
	padding: 0;
}
.inputAuth {
	width: 100%;
	height: 100%;
}
.activeError{
  	width: 100%;
	height: 100%;
  border: red solid 1px;
}
.formAuth {
	> :not(:last-child) {
		margin-bottom: 1.3rem;
	}
}
.btnAuth {
	width: 100%;
	height: 100%;
	background-color: var(--colors-bt);
	color: var(--colors-text);
	align-self: center;
	padding: 0.6rem 0.5rem;
	border-radius: var(--radii);
	font-weight: var(--fw-lightPlus);
	transition: 0.2s;
	white-space: nowrap;
	&:hover {
		background-color: #542d94;
		transition: 0.2s;
	}
	&:active {
		transform: scale(0.98);
	}
}