@media (max-width: 810px) {
	.outside {
		position: fixed;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		z-index: 3;
		background-color: rgba(0, 0, 0, 0.5);
	}
}

@media (min-width: 893px) {
	.sidebarVisible,
	.outside {
		display: none;
	}
}
@media (max-width: 893px) {
	.sidebarHidden {
		display: none;
	}
}
