.popPup {
	padding: 0.8rem;
	border-radius: var(--radii);
	background-color:var(--colors-bg);
	color: var(--colors-text);
opacity: 0.6;
	max-height: 100px;
}
.cardAlertName {
margin-right: 0.5rem;
  white-space: nowrap;
  font-weight: var(--fw-normal);
}